body {
	background: url("../bg/noisy_net_2X.png");
	color: #bbc;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #ddd;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #ddd;
	line-height: 30px;
}

img {
	max-width: 100%;
}

.top-content .description {
	margin: 20px 0 20px 0;
}

.form-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-top {
	overflow: hidden;
	padding: 15px 25px 5px 25px;
	background: #003366;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-bottom {
	padding: 5px 25px 15px 25px;
	background: #003366;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.main {
	background-color: #2f3336;
}

.footer, .header {
	background-color: #191d21;
	text-align: center;
}