body {
	background: url("../bg/noisy_net_2X.png");
	color: #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover, a:focus {
  color: white;
	text-decoration: none;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #ddd;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #ddd;
	line-height: 30px;
}

img {
	max-width: 100%;
}

.main-content, .description {
	margin: 20px 0px;
}

.box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.box-top {
	overflow: hidden;
	padding: 15px 35px 5px 35px;
	background: #114477;
	-moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;
	text-align: left;
}

.box-top p {
  margin: 0px;
}

.box-bottom {
	padding: 5px 35px 15px 35px;
	background: #114477;
	-moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
	text-align: left;
}

.box-left {
  text-align: left;
  float:left;
  width: 65%;
}

.box-right {
  text-align: center;
  float: left;
  width: 35%;
}

#rc-imageselect {transform:scale(0.77);
  -webkit-transform:scale(0.77);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.header {
	background-color: #2a2e32;
  margin: 0px;
}

.footer {
  margin: 0px;
	padding-top: 5px;
	background-color: #2a2e32;
}

.text {
	margin: 0 auto;
}

.middle-border {
	margin: 20px 0;
	border-right: 1px solid #114477;
}

.error-info {
  font-size: 0.8rem;
  line-height: 1;
  color: #ff1a1a;
  padding: 5px 0 0 5px;
  margin: 0;
}

.registration-success, .server-error {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  margin: 20px 15px 0 15px;
  background: #fff;
  border-radius: 10px;
  border-size: 3px;
  border-style: solid;
}

.socials {
  margin: 0px;
	width: 100%;
	text-align: center;
	background-color: #191d21;
  box-sizing: border-box;
}

.socials a {
	text-decoration: none;
	color: white;
}

.fb {
	width: 100%;
  vertical-align: center;
	height: 110px;
	float: left;
}

.fb:hover {
	background-color: #4668b3;
}

.yt {
	width: 100%;
	height: 110px;
	float: left;
}

.yt:hover {
	background-color: #d94348;
}

.tw {
	width: 100%;
	height: 110px;
	float: left;
}

.tw:hover {
	background-color: #3095d3;
}

.gp {
	width: 100%;
	height: 110px;
	float: left;
}

.gp:hover {
	background-color: #d95333;
}

/*main.php*/

.add-margin {
  margin: 0 50px;
}

.main-box {
  padding: 15px 10px;
  background: #114477;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
  width: 100%;
  margin: auto;
}

.user-logo {
  width: 160px;
  height: 160px;
  min-width: 160px;
  margin: 10px auto; 
}

.user-logo img {
  border-radius: 15px;
}

.user-info {
  margin: auto;
}

.user-info tr td {
  font-size: 1rem;
  padding: 2px 5px;
  text-align: left;
}

.left-user {
  text-align: left;
  float:left;
  width: 30%;
  font-size: 1rem;
  margin-left: 20%;
}


.right-user {
  text-align: left;
  float: left;
  width: 50%;
  font-size: 1rem;
}

.clear-both {
  clear: both;
}

.box-content table {
  width: 100%;
}

.box-content table tr th {
  font-size: 1.1rem;
  text-align: center;
}

.box-content table tr td {
  text-align: center;
}

.manage a {
  display: inline-block;
  width: 75%;
  background-color: #080;
  margin: 10px 0;
  padding: 0px 5px;
  border-radius: 10px;
  text-decoration: none;
}

.manage a:hover {
  color: white;
  background-color: #0a0;
}

.leave a {
  display: inline-block;
  width: 75%;
  background-color: #800;
  margin: 10px 0;
  border-radius: 10px;
  text-decoration: none;
}

.leave a:hover {
  color: white;
  background-color: #a00;
}

.accept {
  text-align: center;
}

.accept a {
  float: left;
  display: inline-block;
  width: 50%;
  margin: 10px 0 10px 0;
  background-color: #080;
  border-radius: 10px;
  text-decoration: none;
}

.accept a:hover {
  color: white;
  background-color: #0a0;
}

.decline {
  text-align: center;
}

.decline a {
  float: left;
  display: inline-block;
  width: 50%;
  margin: 10px 0 10px 0;
  background-color: #800;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.decline a:hover {
  color: white;
  background-color: #a00;
}

.invited {
  margin: auto;
  width: 100%;
}

.button {
  text-align: center;
}

.button a {
  display: inline-box;
  background-color: #080;
  padding: 6px 15px;
  border-radius: 10px;
  text-align: center;
}

.button a:hover {
  color: white;
  background-color: #0a0;
}

.teams-title {
  text-align: center;
}

.box-content table tr {
  border-bottom: 1px dashed white;
}

.user-image {
  float: left;
  width: 33%;
}

.user-data {
  float: left;
  width: 34%;
  font-size: 1rem;
  margin: auto;
}

.data-type {
  float: left;
  width: 100px;
  height: 25px;
}

.data {
  float: left;
  width: 100px;
  height: 25px;
}

.user-settings {
  float: left;
  width: 33%;
}

button {
  cursor: pointer;
}