body {
	background: url("../bg/noisy_net_2X.png");
	color: #bbc;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a {
	color: white;
	text-decoration: none;
}

a:hover, a:focus {
  color: #bbc;
	text-decoration: none;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #ddd;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #ddd;
	line-height: 30px;
}

img {
	max-width: 100%;
}

.top-content, .description {
	margin: 20px 0 20px 0;
}

.box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.box-top {
	overflow: hidden;
	padding: 15px 25px 5px 25px;
	background: #003366;
	-moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;
	text-align: left;
}

.box-top p {
  margin: 0px;
}

.box-bottom {
	padding: 5px 25px 15px 25px;
	background: #003366;
	-moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
	text-align: left;
}

.box-left {
  text-align: left;
  float:left;
  width: 75%;
}

.box-right {
  text-align: left;
  float: left;
  width: 25%;
  font-size: 2rem;
}

.box-input {
  font-size: 1rem;
  line-height: 150%;
}

.clear-both {
  clear: both;
}

.header {
	background-color: #2a2e32;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.footer {
	padding-top: 5px;
	background-color: #2a2e32;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.text {
	margin: 0 auto;
}

.middle-border {
	margin: 20px 0;
	border-right: 1px solid #003366;
}

.error-info {
  font-size: 0.8rem;
  line-height: 1;
  color: #ff1a1a;
  padding: 5px 0 0 5px;
  margin: 0;
}

.registration-success, .server-error {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  margin: 20px 15px 0 15px;
  background: #fff;
  border-radius: 10px;
  border-size: 3px;
  border-style: solid;
}

/*main.php*/

.main-box {
  padding: 15px 25px;
  background: #003366;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
  width: 100%;
  margin: auto;
}

.user-logo {
  width: 160px;
  height: 160px;
  min-width: 160px;
  margin: 10px auto; 
}

.user-info {
  margin: auto;
}

.user-info tr td {
  font-size: 1rem;
  padding: 2px 5px;
  text-align: left;
}